button{
    color:white;
    background-color: aqua;
}

ul li{
    font-size: 25px;
    padding: 7px;
}

.item-red{
    color:red;
}

.item-green{
    color:green;
}

.teste{
    padding: 40px !important;
}